{% extends 'partials/base.html.twig' %}


{% block content %}

{# 1) Basis-Collection holen #}
{% set base = page.collection() %}

{# 2) aktive Filter #}
{% set active_tag       = uri.param('tag') ?: uri.query('tag') %}
{% set active_category  = uri.param('category') ?: uri.query('category') %}

{# 3) Filter anwenden (auf derselben Collection) #}
{% set collection = base %}
{% if active_tag %}{% set collection = collection.filterBy('taxonomy.tag', active_tag) %}{% endif %}
{% if active_category %}{% set collection = collection.filterBy('taxonomy.category', active_category) %}{% endif %}

{# 4) Seite aus URL setzen (vor pagination holen!) #}
{% set current_page = (uri.param('page') ?: uri.query('page') ?: 1)|int %}
{% do collection.params.set('page', current_page) %}

{# 5) Pagination-Objekt holen #}
{% set p = collection.params.pagination %}

      		<section id="bloglist" class="mx-auto max-w-3xl px-1 py-10">
        		<header class="mb-6">
          			<h1 class="text-3xl font-semibold text-zinc-900 dark:text-zinc-100">{{ page.title|e('html') }}</h1>
					{% if active_tag %}
					<p class="text-lg text-zinc-500 dark:text-zinc-400">Filter: {{ active_tag }} <a href="{{ page.url }}" class="hover:text-red-600">&#x2715;</a></p>
					{% endif %}
					{% if active_category %}
					<p class="text-lg text-zinc-500 dark:text-zinc-400">Filter: {{ active_category }} <a href="{{ page.url }}" class="hover:text-red-600">&#x2715;</a></p>
					{% endif %}
					{% if not active_tag and not active_category %}
          			<p class="text-sm text-zinc-500 dark:text-zinc-400">Neueste Beiträge</p>
					{% endif %}
        		</header>
        		<div id="content">
				{% if not active_tag and not active_category %}
            		{{ page.content|raw }}	
				{% endif %}
        		</div>			
                <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    {% for child in collection %}
                        {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                    {% endfor %}
                </ul>
				<!-- Pagination -->
				
				{# Pagination anzeigen (wenn aktiv) #}
				{% if config.plugins.pagination.enabled and collection.params.pagination %}
				{% include 'partials/pagination.html.twig' with {
					blog: page,
					pagination: p,
					active_tag: active_tag,
					active_category: active_category
				} %}
				{% endif %}
				
            </section>
{% endblock %}